[2017-08-22 10:57] TalAter opened #1 "Add gitter link to README (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for helping make drones fly, cars find charging stations, and people and goods get from place

[2017-08-22 13:42] Logan1x commented on #1
I would like to take this. @talater

[2017-08-22 14:25] TalAter commented on #1
Awesome!
Thanks.

[2017-08-22 19:58] matthewfitch23 opened #2 "Add code of conduct document"
As per [Mission Control task](https://github.com/DAVFoundation/missioncontrol/issues/4).

[2017-08-22 21:17] #2 closed

[2017-08-22 21:19] TalAter commented on #2
Thank you, and congrats on making your first pull request :octocat: 🍾

I hope it's the first in a long string of open source contributions!

[2017-08-23 07:09] Logan1x commented on #1
Done @TalAter  in pr #4

[2017-08-23 12:46] TalAter commented on #1
Thank you for the help, and congratulations on your first pull request!

I hope it is the first of many contributions to open-source. ❤️ :octocat:

[2017-08-23 12:46] #1 closed

[2017-08-23 12:50] Logan1x commented on #1
Yes @TalAter Thanks For giving me Opportunity.

[2017-09-02 01:32] cg-cnu opened #6 "Update gitter badge"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-02 01:40] cg-cnu opened #7 "Add license badge"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-07 17:35] CarbonMoKnoxide13 commented on #6
Hi!  I'm new to github, git, and open source.  I would love to give this a shot if it's still available.

[2017-09-07 17:55] cg-cnu commented on #6
Hey @CarbonMoKnoxide13 Welcome to Github and the open source world. 😄
Sure, give it a shot. If you need any help. Feel free to ask in the [forum](https://gitter.im/DAVFoundation/DAV-Contributors)

[2017-09-08 00:49] CarbonMoKnoxide13 commented on #6
Alright, just sent the pull request.  Thank you for this helpful introduction!

[2017-09-10 06:35] #6 closed

[2017-09-14 21:05] bonecrushereb commented on #7
Hello cg-cnu,

I would love to work on this issue.

Thanks.

[2017-09-15 02:32] cg-cnu commented on #7
Hey @bonecrushereb
Thanks for your interest. These issues are meant for `first-timers`. Specially for folks who haven't done any open source contribution and looking for a simple way to do their first pull request. If you are are completely new to open source please do go ahead, else I would request you to leave it for the first-timers. Hope you understand. Thanks 😄

[2017-09-15 10:46] TalAter commented on #7
Hi @bonecrushereb

As @cg-cnu said. If this is the first time you are contributing to open source, we would be super-happy to have you! Go ahead.

[2017-09-15 21:12] bonecrushereb commented on #7
Yes this is my first time thank you for the opportunity!

[2017-09-16 04:13] cg-cnu commented on #7
License badge can be after the gitter chat. You can refer to other repos for consistency :smile:

[2017-09-17 02:54] cg-cnu commented on #7
Hey @bonecrushereb Thanks for your help 👏💯 Congratulations on your first contribution to open source. 🎆 Hope this got you excited about contributing to open source 😄 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors)

[2017-09-17 19:43] #7 closed

[2018-01-01 19:02] cg-cnu opened #11 "Update copyright year to 2018 (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-01-01 19:29] leaf-light commented on #11
I would like to do it.

[2018-01-02 07:40] rishabh92 commented on #11
I can change the year and look at how this project works.  😄

[2018-01-02 09:02] Varunvaruns9 commented on #11
I would like to do it

[2018-01-02 14:02] #11 closed

[2018-01-02 14:08] cg-cnu commented on #11
Thanks for your interest @rishabh92 Sorry @Varunvaruns9 went ahead and raised the pr. Feel free to pick up issues in other repos. Or if you are interested in `captain` keep a watch on this one, as we will be creating more issues soon 😄

Thanks for your work @Varunvaruns9 👍  Hope you got hooked on to opensource with this contribution 🙂

Feel free to join our [gitter channel](https://gitter.im/DAVFo

[2018-01-02 14:11] cg-cnu commented on #11
Hey @rishabh92 If you are interested you can pick up this one https://github.com/DAVFoundation/xplore/issues/8 Its not open to public yet, I can assign it to you.

[2018-01-02 18:09] rishabh92 commented on #11
Hey @cg-cnu, I will keep a watch on captain project. Thanks!!

[2018-02-26 13:14] mikey2020 opened #13 "No contribute section"
## Expected Behavior
There should be a `how to contribute` section to help newcomers to the project get onboard easily

## Current Behavior

## Possible Solution
I would like to add a `how to contribute` section.

## Context
It has been kind of hard knowing how to contribute since there is no contribute section compared to other open source projects.

[2018-02-26 14:50] griffobeid commented on #13
That would be great! Thanks, @mikey2020 :smiley:

[2018-02-26 16:14] TalAter commented on #13
That's a great idea @mikey2020
One caveat, we are just now in the process of rewriting Captain completely.
Please hold off on creating this document as it will become obsolete within days if you make it now.

[2018-02-27 09:08] mikey2020 commented on #13
ok @TalAter I will hold off until the changes are completed

[2018-03-11 04:11] cg-cnu opened #14 "Remove license footer from readme"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-03-12 07:15] mikey2020 commented on #14
I would love to work on this issue

[2018-03-12 18:00] cg-cnu commented on #14
Congratulations on your contribution @mikey2020 👏 Hope you had fun and learned few things on the way! Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities 😄

[2018-03-12 18:00] #14 closed

[2018-04-18 17:57] Tobaloidee opened #16 "Logo proposal"
Hi, I am a graphic designer and I want to contribute by proposing a logo design for the project. If you like and will use it I will give it as a gift and gladly send you the needed files. here is my proposed logo

The design shows the letter C for "captain" and also shows a flying vehicle/drone (pointing left). there's also the diamond shape inside that represents the logic that runs onboard vehic

[2018-04-30 10:56] TalAter commented on #16
Thank you for taking the time @Tobaloidee

I really appreciate you taking the time. I also looked at some of the other logos you've contributed to other open source projects. Your commitment and initiative is really cool.

But for this project (dav-js) we will go with a design based on our own brand.

Thank you again for your awesome work 👍

[2018-04-30 10:56] #16 closed

[2018-09-05 07:12] haialaluf opened #18 "Create tests for `vessel-charging/BidParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 07:15] haialaluf opened #19 "Create tests for `vessel-charging/MissionParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 07:17] haialaluf opened #20 "Create tests for `ride-hailing/MissionParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 07:25] haialaluf opened #21 "Create tests for `ride-hailing/BidParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 07:27] haialaluf opened #22 "Create tests for `ride-hailing/NeedParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 08:06] haialaluf opened #23 "Create tests for `vessel-charging/messages/ChargingArrivalMessageParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 08:07] haialaluf opened #24 "Create tests for `vessel-charging/messages/ChargingCompleteMessageParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 08:08] haialaluf opened #25 "Create tests for `vessel-charging/messages/ChargingStartedMessageParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 08:09] haialaluf opened #26 "Create tests for `vessel-charging/messages/DeclineMessageParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 08:10] haialaluf opened #27 "Create tests for `vessel-charging/messages/ProviderStatusMessageParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 08:11] haialaluf opened #28 "Create tests for `vessel-charging/messages/StartingMessageParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 08:12] haialaluf opened #29 "Create tests for `vessel-charging/messages/StatusRequestMessageParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 08:13] haialaluf opened #30 "Create tests for `vessel-charging/messages/VesselStatusMessageParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 08:15] haialaluf opened #31 "Create tests for `ride-hailind/VehicleLocationMessageParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 08:16] haialaluf opened #32 "Create tests for `ride-hailing/MessageParams` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-05 22:11] ali-alsabbah commented on #31
I'm interested in doing this if I can get a little guidance

[2018-09-07 08:07] sallen2 commented on #32
Hello, I would like to work on this issue for you guys!

[2018-09-08 07:48] srfrnk commented on #32
Thanks sallen2. It's yours.

[2018-09-08 13:16] khvr000 commented on #31
I would like to contribute from here

[2018-09-09 17:55] Aliciawyse commented on #18
Hello! I'd like to do this.

[2018-09-10 02:16] Aliciawyse commented on #18
Any tips on installing jest? I get an error message whether I try `yarn add --dev jest`
 or `npm install --save-dev jest`.

When I run `yarn add --dev jest`, this is the first error message I see.

[code]

[2018-09-11 16:14] paul-bartlett commented on #19
Hello, I'm interested in working on this issue!

[2018-09-11 22:54] Aliciawyse commented on #18
@TalAter any advice for this kind of error?

[2018-09-12 20:14] TalAter commented on #18
Hi @Aliciawyse, sorry for the slow response time.

I've had a similar issue a while back... I think it had to do with the `sha3` library (required by `web3`) not supporting node version 10.x. Back then I had to downgrade my machine from node.js v10

But I actually just upgraded back to node.js v10 a few minutes ago just to test it, and it actually worked for me now.

Can you try the following and

[2018-09-12 20:15] TalAter commented on #18
Also, the project already includes jest, so you don't need to install it.
I just upgraded it to the latest version too, so maybe you'd like to pull the latest changes.

[2018-09-13 07:34] ericcgu commented on #30
Hello team! My name is Eric. I am an experienced developer but have never contributed to open source. I would like to help if possible.

I reviewed the sample code (https://github.com/DAVFoundation/dav-js/blob/master/src/vessel-charging/NeedParams.test.ts).

The question I have is this:

Is there a specific reason for using Jest Matcher `expect(object1).toEqual(object2)`?

Typically, toEqual is to

[2018-09-13 08:35] TalAter commented on #30
Thank you @ericcgu

That's a very good observation. I had to take some time to consider it, but I think I prefer the current implementation using `toEqual()`

The test for the serializer makes sure that a certain input always gives a certain predictable output. And both the expected input and output are present in the test code. If in the future we change how the serialization works (e.g., by addi

[2018-09-13 12:18] akshait commented on #20
I would like to do it :)

[2018-09-13 13:07] TalAter commented on #20
Thanks @akshait
Go ahead 👍

[2018-09-13 20:51] ericcgu commented on #30
Thank you @TalAter .

[2018-09-13 21:35] Jongerr commented on #29
I would like to handle this issue.

[2018-09-14 02:50] Aliciawyse commented on #18
Oh okay, thanks @TalAter! To pull your latest changes, I had to sync my fork with the upstream repository (https://github.com/DAVFoundation/dav-js). Things looks normal now. I tried to push, but couldn't because some tests failed, not sure why but this sorta feels like progress lol.

[2018-09-14 11:18] TalAter commented on #18
We have a bunch of tasks running as a pre-push hook. Linting, testing, spell checking, etc.

What failed?

[2018-09-14 12:02] TalAter commented on #18
Did you get these errors?

![1__tal_tals-macbook-pro-5____dropbox_mysite_dav_dav-js__zsh_](https://user-images.githubusercontent.com/926653/45549063-1c259980-b82f-11e8-9ec3-4d362dc50f53.jpg)

I just fixed this and pushed the fix (ebfafdc6f79cd7a699cd309f2e1d3e03f7249573).

[2018-09-14 14:31] Aliciawyse commented on #18
@TalAter Yep that was it. Thanks! Going to give this another try later today!

[2018-09-14 15:49] #19 closed

[2018-09-14 17:04] #31 closed

[2018-09-16 12:06] TalAter commented on #18
I wonder what ended up helping?

[2018-09-16 12:07] TalAter commented on #29
Thank you @Jongerr. Go ahead.

[2018-09-16 17:43] Aliciawyse commented on #18
Hmm. Well, less tests are failing. Here's what I'm getting so far.

![image](https://user-images.githubusercontent.com/13841769/45599026-a21e1d80-b9b2-11e8-9197-6d4e6657c438.png)

![image](https://user-images.githubusercontent.com/13841769/45599246-19a17c00-b9b6-11e8-964f-6a026f8f88f5.png)

![image](https://user-images.githubusercontent.com/13841769/45599251-3473f080-b9b6-11e8-9068-95375883589a.pn

[2018-09-16 19:46] TalAter commented on #18
I googled your error and there are some results around that... but I can't really debug that. You'll have to do it on your machine.

It's not an error I'm familiar with.

I am curious though:

![](https://user-images.githubusercontent.com/13841769/45599267-8157c700-b9b6-11e8-828f-d5e1020132a8.png)

How did you get to 30 commits? 😄  Or is that simply from bringing upstream changes?

[2018-09-16 22:40] Aliciawyse commented on #18
Yeah, I'm thinking that was from upstream changes I grabbed. I'm not sure.

Either way, I got rid of my forked version and forked the project again. I'm able to push without running into the errors like before.

But, I've hit another wall.

How do I run my test?

The jest docs https://jestjs.io/docs/en/cli.html offer some options, but none of them work.

I've tried `jest src/vessel-charging/NeedFi

[2018-09-17 08:11] TalAter commented on #18
You can run it with `npm run jest`

[2018-09-17 14:11] TalAter opened #36 "Add license file (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-17 18:27] rashmithajunoothula commented on #27
Hi, I am a newbie to open source and would like to handle this issue

[2018-09-17 20:27] #36 closed

[2018-09-17 20:28] TalAter commented on #36
That's great to hear @maciejmyslinski

Thank you for the help, and thank you for spreading the joy of open source :octocat:

We have plenty of other issues perfect for first timers if you'd like to suggest them to your peeps - https://github.com/search?q=first-timers-only+org%3ADAVFoundation+label%3A%22up-for-grabs%22&state=open&type=Issues

[2018-09-17 20:31] TalAter opened #38 "Add license badge to README (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-17 20:32] TalAter opened #39 "Add gitter link to README (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-17 20:33] TalAter commented on #27
Please go ahead @rashmithajunoothula 👍

[2018-09-17 20:43] TalAter opened #40 "Remove unneeded code (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-17 20:56] TalAter opened #41 "Remove unneeded code for messageParams (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-17 21:06] devkant commented on #40
Can I try this?

[2018-09-17 21:13] TalAter commented on #40
Please, go ahead @devkant

[2018-09-17 21:40] TalAter opened #42 "Remove unneeded beforeAll calls from Identity tests (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-17 21:40] TalAter opened #43 "Remove unneeded beforeAll calls from Contracts test (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-17 21:42] TalAter opened #44 "Remove unneeded beforeAll calls from Mission tests (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-17 21:43] TalAter opened #45 "Remove unneeded beforeAll calls from SDK test (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-18 04:30] aeidelos commented on #38
i will do it, thanks for first-time chance contribute in opensource

[2018-09-18 04:35] srfrnk commented on #40
Can we hold this task for now?
It is a bad practice to use global scope in tests.
The code you are about to remove is what should remain.
The global code should be deleted.

On Tue, Sep 18, 2018 at 12:13 AM Tal Ater <notifications@github.com> wrote:

--

*Shahar Frank*  R&D Team Leader

Email: shahar@dav.network

Mobile: (972) 052-8554495 <(551)%20404-5002>

..

[2018-09-18 04:35] srfrnk commented on #41
Can we hold this task for now?
It is a bad practice to use global scope in tests.
The code you are about to remove is what should remain.
The global code should be deleted.

[2018-09-18 07:30] devkant commented on #40
Ok I will stop working on it.

[2018-09-18 07:37] devkant commented on #41
So should i leave this task?

[2018-09-18 07:49] TalAter commented on #41
Closing for now. Will discuss with @srfrnk

[2018-09-18 07:50] TalAter commented on #40
Closing for now. Will discuss with @srfrnk

[2018-09-18 17:52] sark01 commented on #45
Hi, Can I look into this?

[2018-09-18 19:58] djayze23 commented on #43
Hi, can i contribute to this issue?

[2018-09-18 20:37] TalAter commented on #45
Go ahead @sark01
Thank you 👍

[2018-09-18 20:38] #38 closed

[2018-09-18 20:39] TalAter commented on #38
Thank you @aeidelos for the help, and congrats on joining the open source world 👍

I hope to see many more contributions from you :)

[2018-09-18 20:40] TalAter commented on #43
Thank you @djayze23
Go ahead 👍

[2018-09-18 20:44] devkant commented on #42
Can I take this?

[2018-09-18 20:44] joseluisbsa commented on #44
Can I take this?

[2018-09-18 21:26] TalAter commented on #30
@ericcgu I believe there is a bug in all the message files for vessel-charging which will cause you to not be able to complete this issue.

Would you be interested in tackling another one? Perhaps #22

This is for a decentralized ride hailing app we are currently building, it's a cool one.

[2018-09-18 21:27] TalAter commented on #27
@rashmithajunoothula  I believe there is a bug in all the message files for vessel-charging which will cause you to not be able to complete this issue.

I'll update here once we fix this.

[2018-09-18 21:51] james-built commented on #28
Hi, can I contribute on this one?

[2018-09-19 10:39] joseluisbsa commented on #39
Can I take this?

[2018-09-19 13:42] sark01 commented on #45
Hi, I made the changes as mentioned in the task, but when I try to execute "npm run jest", I get errors.
I have attached the npm debug log for reference.
Please help.

[npm-debug.log](https://github.com/DAVFoundation/dav-js/files/2397285/npm-debug.log)

[2018-09-19 14:02] sark01 commented on #45
Hi, I made the changes as mentioned in the task, but when I try to execute "npm run jest", I get errors.
I have attached the npm debug log for reference.
Please help.
[npm-debug.log](https://github.com/DAVFoundation/dav-js/files/2397353/npm-debug.log)

[2018-09-19 15:42] ericcgu commented on #30
Yes please.

[2018-09-19 15:42] ericcgu commented on #22
I'd like to take a shot.

[2018-09-19 21:46] magks commented on #42
I would like to do this if devkant hasn't already finished.

[2018-09-20 00:29] joseluisbsa commented on #44
I've already done it and sent a pull request

[2018-09-20 03:01] ali-ebner commented on #28
I would like to take this!

[2018-09-20 03:30] rdsepuntos commented on #26
I would like to try and contribute by getting this one...

[2018-09-20 11:27] TalAter commented on #41
@devkant
We had a discussion on this, and decided to go ahead with this one 👍
Are you still interested in doing it?

[2018-09-20 11:30] TalAter commented on #40
@devkant
We had a discussion on this, and decided to go ahead with this one 👍
Are you still interested in doing it?

[2018-09-20 11:30] #40 closed

[2018-09-20 11:31] TalAter opened #50 "Remove unneeded code (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-20 11:35] TalAter commented on #39
Yes, go ahead @joseluisbsa
Thank you 👍

[2018-09-20 11:36] TalAter commented on #40
@devkant - You've asked to do both this and #41
I would prefer if you take just one issue at a time and give someone else a chance to try this one.

I closed this, and reopened it as a new issue.

[2018-09-20 12:27] #44 closed

[2018-09-20 12:28] TalAter commented on #44
Thank you @joseluisbsa 👍

Looks great.

[2018-09-20 12:30] #42 closed

[2018-09-20 12:31] TalAter commented on #42
@magks Dev did finish it. But there are plenty of other open issues. How about #50 ?

[2018-09-20 12:32] TalAter commented on #42
Thank you @devkant and congrats on your first pull request!

<img width="580" alt="devkant__dev_kant_k_chouhan_" src="https://user-images.githubusercontent.com/926653/45818410-5937d300-bcea-11e8-8861-0885be987e50.png">

I hope this is the first of many contributions to open source 👍

[2018-09-20 12:42] TalAter commented on #45
@sark01 Did you execute `npm run jest` before making your changes as well? This will help you understand whether the tests failed because of the code you entered or is it unrelated?

I would clone the basic code again, run `npm install` and then `npm run jest`.

[2018-09-20 12:45] #43 closed

[2018-09-20 12:49] TalAter commented on #43
Thank you @djayze23

Congratulations on your first pull request!

<img width="577" alt="djayze23" src="https://user-images.githubusercontent.com/926653/45819323-b6348880-bcec-11e8-84c7-f1cc15132cf2.png">

I hope this is the first of many contributions to the open source community 👍

[2018-09-20 12:51] TalAter commented on #22
Go ahead @ericcgu 👍

[2018-09-20 13:00] TalAter commented on #28
Thank you @ali-ebner

Please go ahead 👍

[2018-09-20 14:15] sark01 commented on #45
@TalAter, I did not execute the `npm run jest` before making the changes previously.

-  Today, I made a fresh clone of the code.

-  Did `npm install`

-  Then did `npm run jest` (prior to making any changes to the code).

-  After that, I made the changes as suggested in this post, then again executed `npm run jest`.

-  I found the same error messages/ test case failure's as before.

To conclud

[2018-09-20 14:59] davarie commented on #50
I would like to work on this if it's still up for grabs.

Thanks.

[2018-09-20 15:09] TalAter commented on #45
Did you get errors after running it for the first time before making your changes?

[2018-09-20 15:10] TalAter commented on #50
Go ahead @davarie
Thank you 👍

[2018-09-20 15:47] sark01 commented on #45
Yes, Some of the tests were failing.

[2018-09-20 17:59] joseluisbsa commented on #39
Done! :) - pull request #51

[2018-09-20 18:08] joseluisbsa commented on #41
Can I take this?

[2018-09-20 19:05] #39 closed

[2018-09-20 19:05] TalAter commented on #39
Thanks @joseluisbsa
Merged 👍

[2018-09-20 19:08] TalAter commented on #41
@joseluisbsa Thank you, but these issues are created specifically for people who would like to try open source for the first time. It actually takes a lot of work to create these issues, and I would like to give a chance to someone who hasn't contributed yet to try them, and become hooked on open source like you have 😃

But please, feel free to take any of the other issues not marked as `first-tim

[2018-09-20 23:51] mariolo1985 opened #52 "Update test for `src/ride-hailing/MissionParams.test.ts`"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-21 16:46] sark01 commented on #45
Hi @TalAter,
Today I again did a clean clone of the repository again and did `npm install`, and then did `npm run jest`, the tests were passing.
So I made the necessary changes and will send in a PR as soon as I'm done with it.
Thanks.

[2018-09-22 03:15] leeyspaul commented on #52
Hi! New around here. Could I grab this issue if it's still up for grabs?

Thanks!

[2018-09-22 04:01] mariolo1985 commented on #52
Welcome @leeyspaul 😄  yes please go right ahead. Let me know if you have any questions.

[2018-09-22 08:47] #45 closed

[2018-09-22 08:49] TalAter commented on #45
Thank you @sark01 👍
Looks great.

I'm glad the initial problems resolved themselves. I believe it had to do with some issues one of our developers just fixed.

Thanks again 😎

[2018-09-22 09:05] sark01 commented on #45
Thanks, are there any newcomer issues/ low difficulty issues I can work on?

[2018-09-22 13:29] leeyspaul commented on #52
Thanks. I think I made the changes correctly and did the PR as it should be done but if I've made a mistake please do let me know!

[2018-09-22 20:32] TalAter opened #55 "Update test for `src/ride-hailing/NeedFilterParams.test.ts`"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-22 20:33] TalAter commented on #45
Sure. I just created #55. You want to give that a try?

[2018-09-22 22:33] #52 closed

[2018-09-22 22:35] mariolo1985 commented on #52
Nice PR @leeyspaul! Great description. Nicely done. Merged 🕺

Thanks for your help. I hope to see more contributions from you 👐

We have plenty of issues open https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+archived%3Afalse+label%3A%22good+first+issue%22+user%3ADAVFoundation+

[2018-09-23 09:11] sark01 commented on #45
Sure thing.

[2018-09-23 09:11] sark01 commented on #55
@TalAter, Can I look into this?

[2018-09-23 12:37] leeyspaul commented on #52
That is great I do hope to contribute more and I'll try my best as a rookie!

[2018-09-23 12:46] leeyspaul commented on #24
Hi would I be able to pick up this issue? Hoping to tackle a bit more complicated of an issue than the last one as my first steps. Thanks!

[2018-09-23 14:42] mariolo1985 commented on #24
Of course! Please go right ahead @leeyspaul :+1:

[2018-09-23 17:06] TalAter commented on #55
@sark01 go ahead!

[2018-09-24 03:53] siddharth1198 commented on #50
I would like to work on it if still it is available.

[2018-09-24 13:29] davarie commented on #50
Hi @TalAter,

Sorry for the dalay, I've now pushed the changes to origin master after making sure the tests still passed:

`
Test Suites: 17 passed, 17 total
Tests:       21 skipped, 100 passed, 121 total
Snapshots:   0 total
Time:        17.604s
Ran all test suites.
[14:27:43] Finished 'jest' after 18 s
[14:27:43] Starting 'prepublish'...
[14:27:43] Finished 'prepublish' after 23 μs
Counting obje

[2018-09-25 09:14] TalAter commented on #50
@davarie I don't see a pull request. Did you create one?

[2018-09-25 12:37] davarie commented on #50
@TalAter my apologies, I've created it now after reading a few guides.

Sorry, the whole process is still a bit new to me.

Thanks.

[2018-09-25 13:40] #50 closed

[2018-09-25 13:40] TalAter commented on #50
Looks great!

Thank you and congratulations on your first pull request!

<img width="576" alt="davarie__davarie_" src="https://user-images.githubusercontent.com/926653/46017776-f2972880-c0e0-11e8-98d8-65ff8a0b6015.png">

I hope it is the first of many contributions to open source, now that you've had a taste of it 👍

[2018-09-25 13:43] TalAter opened #57 "Improve gitter badge resolution in README (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-25 14:13] devkant commented on #57
I would like to take it.

[2018-09-25 15:03] davarie commented on #50
Thanks :) it's definitely something I hope to continuously contribute to going forward.

[2018-09-25 15:47] #57 closed

[2018-09-25 15:47] TalAter commented on #57
Thanks again @devkant 👍
Merged.

[2018-09-25 19:42] mariolo1985 commented on #26
Hi, I am going to try to tackle this one. 😄

[2018-09-25 20:27] #26 closed

[2018-09-25 21:27] TalAter commented on #26
Awesome! Thanks Mario ❤️

[2018-09-27 01:49] mariolo1985 commented on #24
merged PR

[2018-09-27 01:49] #24 closed

[2018-09-28 12:42] aanand07 commented on #41
Hi @TalAter, I am a newbie and would love contributing to open source, can I solve this issue?

[2018-09-28 21:40] mariolo1985 opened #62 "Remove trailing commas in `tsconfig.json` (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-28 21:52] abuna1985 commented on #62
I would like to claim this issue

[2018-09-28 21:55] mariolo1985 opened #63 "Update tests for `src/vessel-charging/messages/ChargingCompleteMessageParams.test.ts` using jest (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-29 03:19] mariolo1985 commented on #62
Hi @abuna1985 it's all yours 😎

[2018-09-29 21:05] TalAter opened #66 "Remove unneeded code for messageParams (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-29 21:05] #41 closed

[2018-09-29 22:46] #62 closed

[2018-09-29 22:47] mariolo1985 commented on #62
Thanks for the help @abuna1985 🕺

[2018-09-30 17:48] VictoriaKuznetsova commented on #21
Hi! I would like to handle this issue

[2018-09-30 17:51] mariolo1985 commented on #21
Hello @VictoriaKuznetsova it's all yours :smile:

[2018-09-30 18:06] mariolo1985 opened #67 "Create tests for `src/vessel-charging/messages/StartingMessageParams.ts' using Jest"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-09-30 18:43] mariolo1985 opened #68 "Update tests for `src/vessel-charging/messages/DeclineMessageParams.test.ts` using Jest"
## first-timers-only

This issue is tagged 🕺  **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and goods get

[2018-09-30 21:37] sark01 commented on #55
Hi @TalAter, I have updated the parameters but seem to be facing some sort of a linting issue.
I get the following error message:
`Failed to lint: /home/sark01/Desktop/git/dav-js/src/ride-hailing/NeedFilterParams.test.ts [16, 3]: statements are not aligned.`
Could you please help.

[2018-09-30 21:52] StevenJW commented on #66
I would like to do this!

[2018-09-30 22:15] mariolo1985 commented on #66
hey @StevenJW please go right ahead 😄

[2018-10-01 01:07] Wmccra commented on #63
I'd like to claim this!

[2018-10-01 04:02] mariolo1985 commented on #63
It's all yours @Wmccra 👍

[2018-10-01 08:28] TalAter commented on #55
Can you upload the code of that file to a gist?

[2018-10-01 14:40] clockclog commented on #23
Hi! Can I try to handle this issue?

[2018-10-01 15:04] mariolo1985 commented on #23
Hi @clockclog yes 😄 please go ahead

[2018-10-01 15:33] sark01 commented on #55
Please ignore the previous commits. Thank you.

[2018-10-02 01:06] Aliciawyse commented on #18
Alright, I'm making progress on this. Still trying to understand how to write a test for the deserialize method. Here's what I'm working with so far... https://github.com/Aliciawyse/dav-js/blob/master/src/vessel-charging/BidParams.test.ts

[2018-10-02 01:14] #55 closed

[2018-10-02 01:16] mariolo1985 commented on #68
Most definitely @sark01 👍

[2018-10-02 01:44] Aliciawyse commented on #18
Any tips on getting the deserialize test to pass?

Here's a snapshot about why my test is failing

[code]

[code]

Am I misunderstanding how the deserialize method works?

[2018-10-02 01:53] mariolo1985 commented on #55
Nice work on powering through those lint issues @sark01!

[2018-10-02 11:13] TalAter commented on #32
@sallen2 Are you still interested in doing this one?

[2018-10-02 11:14] TalAter commented on #29
@Jongerr There was a bug in our code that would have prevented you from completing this issue. It has since been resolved. Are you still interested in doing this issue?

[2018-10-02 11:14] TalAter commented on #28
@ali-ebner There was a bug in our code that would have prevented you from completing this issue. The bug has since been resolved. Are you still interested in doing this issue?

[2018-10-02 11:15] TalAter commented on #27
@rashmithajunoothula The bug has been resolved. Are you still interested in doing this issue?

[2018-10-02 11:15] TalAter commented on #25
Thanks @anujanegi 👍

Go ahead.

[2018-10-02 11:32] Jongerr commented on #29
@TalAter Yes, I would still like to handle it. I'll have a PR as soon as I can.

[2018-10-02 11:41] TalAter commented on #18
This seems to be a bug in vessel charging when setting amenities. It not only sets the amenities but also the `manufacturer`, `model`, and `provider` to the value of the `amenities`. I opened a bug for this.

In the meantime, check out my pull request to your fork which removes those bad params - https://github.com/Aliciawyse/dav-js/pull/1

[2018-10-02 13:57] VictoriaKuznetsova commented on #21
I have question about type of currentVehicleLocation in BidParams. I can't find a class with that name. Maybe it shoud be interface ILocation?

[2018-10-02 15:29] TalAter commented on #21
@VictoriaKuznetsova You spotted a bug 👍

I just fixed it and pushed the code. It now imports `ILocation`.

[2018-10-02 18:07] mariolo1985 opened #73 "Fix Jest test file path and remove debugging logs in 'src/ride-hailing/NeedFilterParams.test.ts'"
I was testing Jest behavior and pushed my debugging logs to master.

This will:
- Update Jest test path to original path
- Remove test variables and console logging from `src/ride-hailing/NeedFilterParams.test.ts`

## Expected Behavior

- `npm run jest` passes on all test files

## Current Behavior

- `npm run jest` runs on just `src/ride-hailing`

## Possible Solution

update `root` property in j

[2018-10-02 18:15] #73 closed

[2018-10-02 18:57] #29 closed

[2018-10-02 19:15] mariolo1985 commented on #29
Thanks @Jongerr! Nicely done!

[2018-10-03 00:13] #23 closed

[2018-10-03 00:13] mariolo1985 commented on #23
Nice work. Thanks for the help @clockclog!

[2018-10-03 00:18] Aliciawyse commented on #18
Thank you so much!

[2018-10-03 00:28] mariolo1985 opened #75 "Add dist files for`vessel-charging/messages/ChargingArrivalMessageParams`"
## Expected Behavior

Expect `dist` files for ChargingArrivalMessageParams.ts are in master

## Current Behavior

Missing `dist` files for ChargingArrivalMessageParams.ts are in master

## Possible Solution

run build script `npm run create-dist` to create missing dist files and add to master

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Node 7.3.12):
* Ser

[2018-10-03 00:38] #75 closed

[2018-10-03 10:53] TalAter commented on #18
Merged 🎆

Thank you so much for the help @Aliciawyse

[2018-10-03 10:53] #18 closed

[2018-10-03 12:17] Aliciawyse commented on #18
lol no thank you! I appreciate all of the feedback and help @TalAter!

[2018-10-04 06:51] #68 closed

[2018-10-04 16:33] mariolo1985 opened #79 "Update tests for `src/ride-hailing/MissionParams.test.ts` using Jest"
## first-timers-only

This issue is tagged 🕺  **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and goods get

[2018-10-04 17:08] mariolo1985 opened #80 "Add serialize test for `src/ride-hailing/NeedFilterParams.test.ts` using Jest (first-timers-only)"
## first-timers-only

This issue is tagged 🕺  **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and goods get

[2018-10-04 17:38] sark01 commented on #79
Can I work on this?

[2018-10-04 19:34] vincentle commented on #80
@mariolo1985 Can I take this?

[2018-10-05 17:55] #79 closed

[2018-10-05 17:56] mariolo1985 commented on #79
Thanks for the PR @sark01 just merged 👍

[2018-10-06 03:50] Aliciawyse commented on #32
I can do it! I think it'll be good practice. :-)

[2018-10-07 07:47] TalAter commented on #32
No problem @sallen2 . We have plenty of other issues once you are ready.

Go for it @Aliciawyse !

[2018-10-08 11:28] VictoriaKuznetsova commented on #21
About this note:
location is internally represented as { lat , lon } but serialized as { latitude , longitude }
It doesn't work this way. Function serialize returns { lat , lon } as-is.

Is it by design?

[2018-10-08 15:02] sark01 commented on #30
@TalAter, Can I give this a go?

[2018-10-09 07:29] TalAter commented on #21
@srfrnk Can you look at @VictoriaKuznetsova 's comment?

[2018-10-09 07:47] TalAter commented on #30
@ericcgu Are you still interested in doing this issue?

[2018-10-09 09:42] ericcgu commented on #30
I apologize. I don't have the bandwidth I thought I would. Feel free to
takeover.

On Tue, Oct 9, 2018, 3:47 AM Tal Ater <notifications@github.com> wrote:

[2018-10-09 10:17] TalAter commented on #30
@ericcgu  No problem. We'll be here once you feel like getting involved again 👍

[2018-10-09 10:17] TalAter commented on #30
@sark01 go ahead, it's all yours.

[2018-10-09 13:07] srfrnk commented on #21
This was irrelevant - removed it. Nice catch.

[2018-10-09 14:05] sark01 commented on #30
@TalAter, thanks, I'm stuck up in a critical issue at work so I'll start working on it in a day or two if that's not an issue.

[2018-10-09 16:51] #21 closed

[2018-10-09 16:52] mariolo1985 commented on #21
Great PR @VictoriaKuznetsova! Merged.

[2018-10-09 18:17] VictoriaKuznetsova commented on #21
Thank you

[2018-10-10 02:59] mariolo1985 opened #83 "Update tests for `src/vessel-charging/BidParams.test.ts` using Jest"
## first-timers-only

This issue is tagged 🕺  **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and goods get

[2018-10-10 04:02] shalini-s commented on #83
Hey :) I'll take a shot at it!

[2018-10-10 04:30] shalini-s commented on #83
I'm running into issues installing the dependencies with npm - not sure if this is a windows issue?
Getting these errors:

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! dav-js@0.1.19 preinstall: `(rm .git/hooks/* && cp ./.githooks/* .git/hooks) || true`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the dav-js@0.1.19 preinstall script.

'rm' is not recognized as an internal or external co

[2018-10-10 04:55] mariolo1985 commented on #83
Hey @shalini-s thanks for helping out! I am getting this error on Windodws as well. It is passing on a Mac :sweat_smile: I will let our devs know.

[2018-10-10 16:56] TalAter commented on #30
👍 no problem

[2018-10-10 17:15] mariolo1985 commented on #83
Hi @shalini-s It looks like you found a bug 🐞 My apologize for the issue. We will let you know when this is resolved.

I have also added more depth to this issue. It is different from when you started. If you have any questions, you are more than welcome reach out 👐 .

[2018-10-10 19:33] TalAter opened #84 "Update vehicle details in ride-hailing BidParams test (first-timers-only)"
## first-timers-only

This issue is tagged 🕺  **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and goods get

[2018-10-10 20:12] devkant commented on #84
Can i take this?

[2018-10-10 20:54] tifa64 commented on #84
I'm on it

[2018-10-14 02:02] #66 closed

[2018-10-14 19:09] mariolo1985 commented on #83
Hey @shalini-s, our devs pushed out a fix for Windows that should resolve the install errors. Could you pull from master and let me know if you are still getting install errors?

[2018-10-14 19:32] tifa64 commented on #84
@devkant
Yup and finished it:
https://github.com/DAVFoundation/dav-js/pull/85

[2018-10-14 21:08] #84 closed

[2018-10-15 04:13] shalini-s commented on #83
Hey, I pulled the updates but seem to be getting a bunch of different errors now:

gyp ERR! configure error
gyp ERR! stack Error: Command failed: C:\Users\...\AppData\Local\Programs\Python\Python36-32\python.EXE -c import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! stack   File "<string>", line 1
gyp ERR! stack     import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! stack

[2018-10-15 08:35] TalAter commented on #83
@shalini-s Just before we dive into this, could you clone the latest version of the repository, do `npm install` again and let us know what you're getting?

[2018-10-15 10:52] #30 closed

[2018-10-15 13:28] sark01 commented on #22
@TalAter, I'd like to do this.

[2018-10-15 18:58] ali-ebner commented on #28
@TalAter I meant to get in touch with you about the bug. Unfortunately, I am no longer able to do the issue at this time. Apologies!

[2018-10-16 03:19] sark01 commented on #28
@TalAter, Could I take this one up?

[2018-10-16 22:58] mariolo1985 commented on #28
Hi @sark01 you certainly can take this issue 😃

In regards to classes without deserialize tests, we are reviewing them and will most likely open up issues for those. Keep an eye out in the near future 👓 thanks!

[2018-10-17 12:39] sark01 commented on #28
@TalAter I've been meaning to raise this point. I think its better if I don't consume the rest of the issues as I believe I've kinda figured how to fix them and give the newcomers a chance. I believe contributing to open-source can be daunting at first as it was for me a couple of weeks back. I thank you and the maintainers of this repository for helping me gain a thorough insight into how open-so

[2018-10-17 14:17] mariolo1985 commented on #28
Thanks for the PR @sark01. Great work!

[2018-10-17 14:17] #28 closed

[2018-10-20 00:41] mariolo1985 opened #93 "Create tests for `src/drone-charging/BidParams.ts` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-10-20 00:57] mariolo1985 opened #94 "Create tests for `src/drone-charging/MessageParams.ts` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-10-20 01:05] mariolo1985 opened #95 "Create tests for `src/drone-charging/MissionParams.ts` using Jest"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-10-20 01:33] mariolo1985 opened #96 "Create tests for `src/drone-charging/NeedFilterParams.ts` using Jest"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-10-20 01:54] mariolo1985 opened #97 "Create tests for `src/drone-charging/NeedParams.ts` using Jest"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-10-20 07:10] DavinaLeong commented on #97
Hey! I'm looking for a way to start contributing to open source... can I help with this? Can anyone point me in the right direction?

[2018-10-20 16:56] mariolo1985 commented on #97
Hi @DavinaLeong - yes we would appreciate the help :smiley: I would start at the section labeled **Contributing to dav-js** in this issue and fork this repo. You can reach out on our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) with any questions as well.

[2018-10-22 08:44] TalAter commented on #28
Sounds good @sark01

Also, now that you have had some experience with the project feel free to suggest other improvements you think should be made.

Thank you for all the help so far 👍

[2018-10-22 21:50] mariolo1985 opened #98 "Create tests for `src/drone-delivery/BidParams.ts` using Jest"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-10-22 21:55] mariolo1985 opened #99 "Create tests for `src/drone-delivery/MessageParams.ts` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-10-22 22:01] mariolo1985 opened #100 "Create tests for `src/drone-delivery/MissionParams.ts` using jest."
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-10-23 07:11] sionelt commented on #100
Hi. First timer here! Awesome project. I would love to work on this one.

[2018-10-23 14:36] mariolo1985 commented on #100
Hey @sionelt thanks for picking us for your first time! This is all yours. I see you are from Utah as well :+1:

[2018-10-23 18:01] sionelt commented on #100
yay. thanks. @mariolo1985 Just noticed you're in Salt Lake. awesome.

[2018-10-24 00:59] #100 closed

[2018-10-24 01:12] mariolo1985 commented on #100
Thanks for the quick work @sionelt! I have merged your changes. Please help yourself, if you have time, to tackle another open issue like this or check back every once in a while for different types of issues 😄

[2018-10-24 16:12] mariolo1985 commented on #99
For sure! Go for it @sionelt.

[2018-10-24 20:09] mariolo1985 commented on #98
Hi @pohmelo this is all yours 👍

[2018-10-25 02:58] mariolo1985 commented on #96
Go for it @lucasheim :smiley:

[2018-10-25 17:00] #99 closed

[2018-10-25 17:15] mariolo1985 commented on #99
Thanks for another quick turn around @sionelt I have merged your changes. May I suggest using lint plugins for your IDE to assist code standards on future projects?

[2018-10-25 17:19] sionelt commented on #99
I am glad to help. I wish I can do more. Oh was the linting failed on the files I worked on? I do have the Eslint plugin on vs code...

[2018-10-25 17:31] mariolo1985 commented on #99
@sionelt I use vs code, too 😃 Yeah I usually have the eslint plugin running and that's good for most projects. I am seeing more projects move towards typescript so it may be another plugin I have to keep running as well 😆 If plugins were better managed in vs code I wouldn't be so concerned.

[2018-10-25 17:36] sionelt commented on #99
Yes, I just notice it. It was failing for the Tslint and I didn't have Tslint plugin installed. This is a great tip, I've been learning typescript. I'll make sure to run the Tslint script and passed on future PRs. thanks for the help. This makes more excited to contribute more to open source.

[2018-10-25 21:31] VladmirVolgen commented on #63
I would like to claim it, it would be basically place the variables into the beforeEach() and run the tests to check that they are working properly, right?

[code]

Thanks!

[2018-10-26 16:43] #96 closed

[2018-10-26 16:49] mariolo1985 commented on #63
That is correct! This is all yours @VladmirVolgen 😄

[2018-10-26 16:54] mariolo1985 commented on #96
Hey @lucasheim great work! Thanks for the help. I have merged your changes. We have other open issues similar to this when you want to take on another one 👍

[2018-10-27 03:49] #63 closed

[2018-10-27 11:31] lucasheim commented on #95
I'll get this one!

[2018-10-27 11:44] lucasheim commented on #94
I can do this one too.

[2018-10-27 12:19] lucasheim commented on #93
I can do this one too.

[2018-10-27 13:45] mariolo1985 commented on #94
Hi @lucasheim that's great :smile: we love the enthusiasm! If you could work on one issue and one PR at a time, that will help us review PRs better. Could you let us know which issue you would like to claim?

[2018-10-27 20:52] lucasheim commented on #94
Sure, this one.

[2018-10-28 08:15] mariolo1985 commented on #94
Excellent! This one is yours :+1:

[2018-10-28 23:50] hackora commented on #95
Hi, I would like to make my first open source contribution and noticed that this issue is still labeled up-for-grabs. Can I work on it?

[2018-10-29 23:04] mariolo1985 opened #110 "Update the constructor in `src/drone-delivery/NeedParams.ts` and add Jest tests for `src/drone-delivery/NeedParams.ts`"
## first-timers-only

This issue is tagged 🕺  **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and goods get

[2018-10-29 23:05] mariolo1985 commented on #95
Hi @hackora thanks for picking this as your first contribution. Yes, you may work on this. 👍

[2018-10-29 23:09] mariolo1985 opened #111 "Create tests for `src/drone-delivery/NeedFilterParams.ts` using Jest"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2018-10-29 23:18] mariolo1985 commented on #94
Great work @lucasheim 👍 I have merged your changes

[2018-10-30 02:00] lucasheim commented on #93
Can I get this one now? haha

[2018-10-30 07:10] AyoAlfonso commented on #110
Hello @mariaolo1985 Can I claim this issue and start working on it right away ?

[2018-10-30 14:16] mariolo1985 commented on #93
@lucasheim :+1: ofcourse, this one is yours.

[2018-10-30 14:17] mariolo1985 commented on #110
Hi @AyoAlfonso yes you can start working on it :+1:  Thank you!

[2018-10-30 15:41] ganes1410 commented on #111
@mariolo1985  can i work on this ?

[2018-10-31 16:29] #111 closed

[2018-10-31 16:31] #93 closed

[2018-10-31 16:34] #98 closed

[2018-10-31 16:40] mariolo1985 commented on #111
Thanks for the help @ganes1410 I have merged your pull request. Please check back often for new issues 👐

[2018-10-31 16:41] mariolo1985 commented on #98
@pohmelo great work! Your changes have been merged. Please check back for other issues when you have time 😄

[2018-10-31 16:42] mariolo1985 commented on #93
Hey @lucasheim another great work. Thanks!

[2018-11-02 00:53] mariolo1985 commented on #95
Thanks for the good work @hackora 👍 Please check back often if you have the time 😃

[2018-11-02 11:44] hackora commented on #95
@mariolo1985 It's been a pleasure :smiley: Thank you for being so welcoming to new contributors.  I will definetly check back whenever I can :+1:

[2018-11-15 12:47] srdmathur commented on #22
Hi,
I would like to do it.

[2018-11-17 05:56] srdmathur commented on #22
Is this issue, still persist?

[2018-11-17 23:54] mariolo1985 commented on #22
Hi @srdmathur sorry for the late response. This issue still persist. You can start working on it if you still want it :+1:

[2018-11-19 06:13] srdmathur commented on #22
Thanks for your response. I will start working on this now onwards.

[2018-11-29 20:51] debragail commented on #55
how did you make that gif??

[2018-12-02 17:40] TalAter commented on #55
I usually record and edit the videos using ScreenFlow, which can export to gif. Mac only (afaik), and paid, but I love it.

[2018-12-06 06:10] looeee opened #120 "Add installation and usage instructions to the Readme"
## Expected Behavior

The Readme should include the basic step required to install and setup a new project.
The most difficult part of connecting with a new project is often the setup, and if there are a list of simple steps to follow that helps new users a lot.

## Current Behavior

The Readme is not helpful to new users.

## Possible Solution

Two new sections should be added:

1. Installation

[2018-12-06 06:18] looeee opened #121 "Commands "npm run build-browser-dev" fails with webpack error"
## Expected Behavior

The task should proceed without errors.

## Current Behavior

[code]

## Steps to Reproduce (for bugs)

1. `npm run pre-publish` (runs without errors)
2. `npm run post-install` (runs without errors)
3. `npm run build-browser-dev` OR `npm run build-browser-prod` (produces the error)

## Context

I'm trying to set up and learn to use the project for the first time.

## Your Env

[2018-12-06 15:39] TalAter commented on #121
For now we have deprecated building `dav-js` for the browser.

The fact that those two npm scripts are still in `package.json` was an oversight. I just removed those two in https://github.com/DAVFoundation/dav-js/commit/32992931a867b3a770733cd4a196a2a1c285e234

[2018-12-06 15:39] #121 closed

[2018-12-06 15:45] TalAter commented on #120
I think we need to distinguish between two types of documents.

1. Documentation that explains how to use `dav-js` to build something.
2. A `CONTRIBUTING.md` document which explains how to get started contributing to and modifying `dav-js` itself.

The first is available in our [developers site](https://developers.dav.network/protocols/vessel-charging/), although it is still lacking a section expl

[2018-12-06 15:45] TalAter commented on #13
Now in #120

[2018-12-06 15:45] #13 closed

[2018-12-07 08:57] looeee commented on #121
Ok, that's clear. Thanks for the fast response 👍

[2018-12-14 07:54] looeee commented on #13
Fixed in #123

[2018-12-14 18:21] #22 closed

[2018-12-14 18:34] mariolo1985 commented on #22
Hi @srdmathur, the `create-dist` command outputs new files that the build is looking for and it is failing there. Good work with the tests! I have merged your changes.

[2018-12-18 09:09] bicep commented on #97
Hello @DavinaLeong  are you still working on this? If not, I'd like to take this! :)

[2018-12-18 09:10] bicep commented on #25
Hi @anujanegi, are you still working on this? If not I'd like to give it a shot :)

[2018-12-18 09:11] bicep commented on #27
HI @rashmithajunoothula are you still interested in this? I'd love to work on some tests in the meanwhile. Perhaps I should take this @TalAter

[2018-12-18 15:56] anujanegi commented on #25
@bicep Go ahead!

[2018-12-22 23:52] debragail opened #126 "Update Contracts.ts TOKEN_AMOUNT"
TODO: TOKEN_AMOUNT need to be set by basicMission contract.

TOKEN_AMOUNT is currently set to a constant.  Should be updated by the basicMission contract.

[2019-01-04 09:47] debragail opened #128 "Setup Docker"
Project should utilize Docker.

## Context
Installing Docker for the project.

https://docs.docker.com/compose/gettingstarted/

## Your Environment
Node: 10.4.0
Docker version 18.03.0-ce, build 0520e24
docker-compose version 1.20.1, build 5d8c71b
Python 2.7.15 (default, Oct  9 2018, 09:54:19)
[GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)] on darwin

[2019-01-18 15:44] mariolo1985 commented on #32
Hi @jmarkham828 thanks for the  interest, let me check.

@Aliciawyse Are you working on this test?

[2019-01-18 20:35] mariolo1985 commented on #110
Hi @AyoAlfonso are you still interested in working on this issue?

[2019-01-18 20:54] mariolo1985 commented on #83
hi @shalini-s are you still interested in working on this?

[2019-01-18 20:55] mariolo1985 commented on #80
Hi @vincentle are you still interested in working on this?

[2019-01-18 20:56] mariolo1985 commented on #27
Hi @rashmithajunoothula would you still like to resolve this issue?

[2019-01-18 20:57] mariolo1985 commented on #97
Hi @DavinaLeong are you still interested in this issue?

[2019-01-24 08:51] TalAter commented on #110
Thank you @gfting, pull request looks great 👍

[2019-01-31 04:03] mariolo1985 commented on #32
@jmarkham828 my mistake. After looking over the repo, `ride-hailing/MessageParams` already have tests created. The changes were merged in this pull request (https://github.com/DAVFoundation/dav-js/issues/94) which is for tests to be created for `drone-charging/MessageParams` and it is still available. Would you be interested in issue #94?

[2019-01-31 04:10] mariolo1985 commented on #94
hey @jmarkham828 if you are still available to help, you can have this one.

[2019-02-02 17:38] #32 closed

[2019-02-15 21:46] mariolo1985 commented on #25
Hi @bicep are you still interested in working on this?

[2019-04-10 08:28] abdchehadeh commented on #80
I claim it :) @mariolo1985

[2019-04-10 15:26] mariolo1985 commented on #80
Hi @abdchehadeh it's all yours! Thanks 😄

[2019-04-10 16:23] abdchehadeh commented on #80
<pre>
<b>Test Suites: </b><font color="#EF2929"><b>2 failed</b></font>, <font color="#8AE234"><b>33 passed</b></font>, 35 total
<b>Tests:       </b><font color="#FCE94F"><b>23 skipped</b></font>, <font color="#8AE234"><b>114 passed</b></font>, 137 total
<b>Snapshots:   </b>0 total
<b>Time:</b>        16.97s
<font color="#AAAAAA">Ran all test suites.</font>
[<font color="#555753">19:22:04</font>] &

[2019-04-11 11:37] TalAter commented on #80
Thank you @abdchehadeh 👍

Looks great

[2019-04-11 11:37] #80 closed

[2019-04-11 11:39] abdchehadeh commented on #83
@mariolo1985  @TalAter I will have a go with all the First timers. :)

[2019-04-12 15:10] #97 closed

[2019-04-12 15:26] mariolo1985 opened #139 "Travis CI failing"
## Expected Behavior

Travis CI should complete the config scripts successfully

## Current Behavior

Failing on multiple steps

## Possible Solution

## Steps to Reproduce (for bugs)

1. Clone repo
2. Run `npm install`
3. Run the following Travis CI scripts:
  - npm run tslint
  - npm run jest
  - npm run spellcheck
  - npm run tsc
  - npm run typedoc
  - npm run create-dist
4. Some of these CI s

[2019-04-13 12:53] abdchehadeh commented on #139
hey @mariolo1985

I am working on fixing the last error in

I have worked on the Kafka and Contract test errors.

<pre>    Expected value to be:
      <font color="#4E9A06">&quot;selfId&quot;</font>
    Received:
      <font color="#CC0000">[[&quot;peerId&quot;, {&quot;_messageType&quot;: &quot;message&quot;, &quot;_protocol&quot;: &quot;drone_charging&quot;, &quot;senderId&quot;: &quot;selfId&quo

[2019-04-13 17:31] abdchehadeh commented on #139
https://travis-ci.org/abdchehadeh/dav-js/jobs/519704571
I was able to create a dist locally, and all the scripts ran successfully except the spellcheck
I wont create a PR, but check what I did.

[2019-10-02 06:50] sark01 commented on #25
Hi @mariolo1985, I see this issue open for close to a year, can I have a go at it ?

[2019-10-02 13:48] mariolo1985 commented on #25
Hi @sark01 - I do not see any open PRs or tests for this so I think you should be ok to take this. Please reach out to @TalAter when you have a PR up. Thanks!

[2019-10-09 09:57] sark01 commented on #25
Sure @mariolo1985, working on it. Thanks

[2019-11-08 17:08] Fransan commented on #83
is this still an issue?

[2022-09-09 01:32] #120 closed